@use "../../styles/variables" as *;

.collab-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 250px;
  background-color: $white-solid;

  .showcase-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 0 60px;

    .img-box {
      will-change: transform, opacity;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .text-box {
    perspective: 1200px;
    will-change: transform;
    transform-style: preserve-3d;
  }

  .union-area {
    flex-direction: row;
    justify-content: center;
    gap: 150px;

    .brand-title {
      margin: 0;
      font-family: $font-display;
      font-weight: 900;
      font-size: 320px;
      line-height: 1.2;
      letter-spacing: -0.04em;
      color: $point-khaki;
      backface-visibility: hidden;
    }

    .img-box {
      width: 642px;
      height: 467px;
      flex-shrink: 0;
    }
  }

  & > .showcase-item + .showcase-item {
    margin-top: 250px;
  }

  .stoneisland-area {
    flex-direction: row;
    justify-content: center;
    gap: 78px;

    .img-box {
      width: 503px;
      height: 597px;
      flex-shrink: 0;
    }

    .text-box {
      .title-frame {
        display: flex;
        flex-direction: column;
        width: 1240px;
        flex-shrink: 0;
        backface-visibility: hidden;

        .brand-title {
          margin: 0;
          width: 100%;
          font-family: $font-display;
          font-weight: 900;
          font-size: 245px;
          line-height: 1;
          letter-spacing: -0.05em;
          color: #994b34;
        }

        .stone {
          text-align: left;
        }

        .island {
          text-align: right;
        }
      }
    }
  }
}
