@use "../../styles/variables" as *;

.collab-page {
  width: 100%;
  background-color: $white-solid;
  padding-bottom: 150px;

  .inner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
  }
}
